@import "open-props/style";
@import "open-props/normalize";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  html {
    block-size: 100%;
  }

  body {
    block-size: 100%;
  }

  #app {
    min-block-size: 100%;
    display: grid;
    justify-items: center;
  }
